* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

body{
    background-image: url(images/Tavern\ trivia\ background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.start-btn,
.info-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-btn button {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #FDF9EF;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #AC663E;
    cursor: pointer;
}

.info-box {
    width: 540px;
    background: #FDF9EF;
    border-style: solid;
    border-radius: 5px;
    border-color: #AC663E;
    border-width: 3px;
}

.info-box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #AC663E;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}