* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

body{
    background: #FDF9EF;
}

.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-btn button {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #FDF9EF;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #AC663E;
    cursor: pointer;
}